 body {
      background-color: blue;
      color: white;
      text-align: center;
    }

    @media (max-width: 600px) {
      body {
        background-color: red;
        color: black;
    
      }
      
    
    }